body {
    background-color: #4e4e4e;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.navbar a:hover {
    background-color: #555;
}

.navbar p {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
}

/* Product */
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.product-item {
    flex: 0 0 300px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.product-item img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product-item h3 {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.product-item p {
    margin: 10px;
    font-size: 16px;
    text-align: center;
}

.product-item button {
    display: block;
    width: 179%;
    padding: 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

}
.product-item button:hover {
    background-color: #429646;
}
/* Filters */
.nomaxwidth {
    display: flex;
}

.filters {
    width: 250px;
    padding: 20px;
    background-color: #2f2f2f;
    color: white;
    margin-right: 20px;
}

.filters .innerfilters {
    padding-right: 60px;
}

.filters form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filters label[for="categories"] {
    margin-right: 10px;
    font-size: 16px;
}

.filters input[type="checkbox"] {
    display: none;
}

.filters input[type="checkbox"] + label {
    display: inline-block;
    padding: 6px 12px;
    font-size: 16px;
    background-color: #3a3939;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.filters input[type="checkbox"] + label:hover {
    background-color: #3a3939;
    border-color: #b2b2b2;
}

.filters input[type="checkbox"]:checked + label {
    background-color: #0066cc;
    color: #ffffff;
    border-color: #0066cc;
}

.filters input[type="checkbox"]:checked + label:hover {
    background-color: #0052a3;
    border-color: #0052a3;
}

.filters button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.filters button[type="submit"]:hover {
    background-color: #429646;
}


.container_about {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
}

.about-me {
    max-width: 600px;
    padding: 20px;
    text-align: center;
}


/* Style the button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.empty {
    font-size: 100px;
    text-align: center;
    align-self: center;
    color: white;
}

.nomaxwidth{
    max-width: none;
    overflow: initial;
}


/* Filter */
.filters{
    width: 320px;
    color: white;
}
.innerfilters{
    padding-right: 60px;
}
.filter-group__heading__text {
    margin: 0.2em 20px 0 0;
    font-weight: 600;
}

.filter-group__heading__indicator {
    margin-right: -5px;
    transform-origin: center;
    transition: transform 250ms ease;
}

.filter-group__heading__indicator svg {
    vertical-align: top;
}

.filter-group__heading:not(.toggle-target-toggler--is-hidden) .filter-group__heading__indicator {
    transform: rotate(180deg);
}

.filter-group__item {
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    padding-left: 28px;
    font-size: 14px;
    line-height: 1.4em;
    cursor: pointer;
}

.filter-group__item .filter-group__checkbox {
    position: absolute;
    width: .1rem;
    height: .1rem;
    overflow: hidden;
    margin: -.1rem;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

.tab-used .filter-group__item .filter-group__checkbox:focus + .filter-group__item__text {
    outline: 1px solid currentColor;
    outline: -webkit-focus-ring-color auto 1px;
}

.filter-group__item .filter-group__item__text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.8em;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid currentColor;
}

.filter-group__item .filter-group__item__text::after {
    content: '';
    position: absolute;
    left: -1px;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-image: url("data:image/svg+xml,%3Csvg fill='rgb(255, 255, 255)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    transform: scale(0);
    transition: transform 100ms ease;
}

.filter-group__item .filter-group__checkbox:checked + .filter-group__item__text::before {
    background: currentColor;
}

.filter-group__item .filter-group__checkbox:checked + .filter-group__item__text::after {
    transform: scale(1);
}

.filter-group__item--disabled {
    opacity: 0.5;
}

.filter-group__applied-item {
    display: inline-block;
    background: rgba(0, 0, 0, 0.05);
    margin: 0 8px 8px 0;
    border-radius: 3px;
}

.filter-group__applied-item:hover {
    color: inherit;
}

.filter-group__applied-item:hover .filter-group__applied-item__icon {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 0 3px 3px 0;
}

.filter-group__applied-item__text {
    vertical-align: middle;
    padding: 3px 8px 3px 10px;
    font-size: 14px;
    line-height: 1.4em;
}

.filter-group__applied-item__icon {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
}

.filter-group__applied-item__icon svg {
    display: block;
    width: 20px;
    height: 20px;
}

.filter-group__clear-row {
    margin-top: 4px;
}

.filter-group__clear-link {
    font-size: 14px;
    line-height: 1.4em;
}

.filter-group--swatch .filter-group__item {
    display: flex;
    align-items: center;
    margin: 0 0 12px;
    padding: 8px 10px;
    border: 1px solid#d8dce0;
    background: #ffffff;
    color: #637381;
    border-radius: 3px;
}

.usernavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #737373;
}

.usernavbar a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.3s ease-in-out;
}

.usernavbar a:hover {
    background-color: #5d5d5d;
}

.user_history{
    display: block;
    text-align: center;
    color: white;
}

.user_history_table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
}
.user_history_table th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.user_history_table th {
    background-color: #0040ab;
}
.user_history_table tr:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: #4883f6;
}
.table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    color: white;
}
.table th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.table th {
    background-color: #0040ab;
}
.table tr:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: #4883f6;
}
.table a {
    color: #ffffff;
    text-decoration: none;
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
.table a:hover {

    background-color: #429646;
}
form {
    display: inline-block;
}

input[type="number"] {
    width: 50px;
    margin-right: 5px;
    text-align: center;
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #429646;
}

.checkout {
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px;
    text-align: center;
    align-self: end;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: -40px;
    margin-right: 250px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
    float: right;
}

.checkout:hover {
    background-color: #429646;
}

.white{
    color: white;
}